:root {
  font-family: "Roboto Mono", monospace;

  --color-primary: #051923;
  --color-secondary: #9197ae;
  --color-tertiary: #eff6ee;
  --color-black: #051923;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23006494' fill-opacity='0.08'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #051923;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1,
h2,
h3,
li,
i,
span,
p {
  color: var(--color-tertiary);
}

.resume-link {
  text-decoration: none;
  color: var(--color-tertiary);
  font-weight: bold;
}

.skills-heading,
.projects-heading,
.experience-heading {
  display: flex;
  flex: 1;
  margin: 20px auto;
  line-height: 1em;
}

.center-text {
  text-align: center;
}

header {
  margin-top: 4rem;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.intro-text {
  margin-top: 2rem;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.occupation {
  font-weight: 400;
  font-size: 1rem;
}

.social-links {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

hr.solid {
  border-top: 2px solid var(--color-tertiary);
  border-radius: 1px;
  width: 30%;
}

.heading:before,
.heading:after,
.heading-ie span.after,
.heading-ie span.before {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background-size: 100% 2px;
  background-position: 0% 50%;
  background-repeat: repeat-x;
}

.heading:before,
.heading-ie span.before {
  background-image: linear-gradient(to right, transparent, white);
}

.heading:after,
.heading-ie span.after {
  background-image: linear-gradient(to left, transparent, white);
}

.social-icon {
  font-size: 24px;
  width: 2rem;
}

.fa-github,
.fa-linkedin {
  color: var(--color-tertiary);
  text-decoration: none;
}

.description {
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.skills-container {
  margin-top: 2rem;
}

.skills-list {
  padding-left: 0;
  margin-top: 2rem;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
}

.skills-list li {
  display: inline-block;
  flex: 1 0 25%;
  margin: 1rem;
}

.skill-icon {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 1rem;
}

.projects-container {
  margin-top: 2rem;
}

.project-description {
  padding-left: 2rem;
  padding-right: 2rem;
}

.diploma-image {
  max-width: 50%;
}

.blur {
  filter: blur(20px);
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0 2rem 2rem 2rem;
}

.grid-item {
  text-align: center;
  margin-top: 2rem;
}

#slider-top {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

.slide-in-top {
  animation: slide-in 0.8s forwards;
  -webkit-animation: slide-in 0.8s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateY(0%);
  }
}

#slider-left {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in-left {
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

.slide-in-left-projects {
  animation: slide-in 1.5s forwards;
  -webkit-animation: slide-in 1.5s forwards;
}

.slide-in-left-experience {
  animation: slide-in 1.5s forwards;
  -webkit-animation: slide-in 1.5s forwards;
}

.slide-in-left-education {
  animation: slide-in 1.5s forwards;
  -webkit-animation: slide-in 1.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 413px) {
  .skills-list li {
    flex: 1 0 50%;
    margin: 1rem;
  }
}
