:root {
  font-family: "Ubuntu", sans-serif;

  --color-primary: #273043;
  --color-secondary: #9197ae;
  --color-tertiary: #eff6ee;
}

h1 {
  font-weight: bold;
}

.intro-container {
  background-color: var(--color-primary);
  padding: 2rem;
}

.intro-text {
  color: var(--color-tertiary);
  text-align: center;
}

.occupation {
  font-style: italic;
  font-weight: 300;
}
